.service {
    padding: 10px 0;

}

.service h2 {
    font-size: 13px;
    color: #000000d9;


}


.container__service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

}



.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 130px;
    background-color: #eeeeee05;
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgb(149 157 165 / 10%) 0px 8px 24px;
}


.box svg {
    font-size: 38px;
    color: #04177e;
}

.box p {
    font-size: 12px;
    text-align: center;
    color: #000000ad;

}

.box img {
    max-width: 40%;
}


@media screen and (max-width:992px) {


    .container__service {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-wrap: wrap;
        gap: 40px;
    }
}