nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000 !important;
    width: 100%;
    padding: 0px 40px;
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: 1px solid rgb(0 0 0 / 4%);
}

.right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.right img {
    width: 27px;
    object-fit: contain;
}


.right h2 {
    font-size: 21px;
    font-weight: 600;
    color: #145e8acf;
}

.right h2 span {
    color: #305b84;
}

.center ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.center ul li a {
    color: black;
    font-size: 15px;
    font-weight: 400;

}

.left {
    width: 80px;
    height: 33px;
}

.left button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 11px;
    background-color: #04177ec7;
    color: white;
    font-size: 13px;
}

.menu {
    display: none;
}

.left__menu {
    display: flex;
    align-items: center;
    font-size: 29px;
}

.left__menu svg {}


.center__menu {
    position: absolute;
    top: 60px;
    width: 300px;
    right: 12px;
    background-color: white;
    height: 300px;
    display: none;
    justify-content: center;
    padding: 17px 5px;
    border-radius: 0px;
    transition: .3s;
}

.center__menu.active {
    display: flex;
}

.center__menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.center__menu ul li a {
    color: #000000eb;
    font-size: 20px;
}

@media screen and (max-width:992px) {

    .navbar {
        display: none;
    }

    .menu {
        display: flex;
    }

    .center ul {
        display: none;
    }

    nav {
        padding: 0px 20px;
    }
}